$main-font: 'Open Sans', sans-serif;
$main-text-color: #000;

.header {
  padding: 0 85px;
}
.header-top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ECEFF1;
}
.header-top-menu__location {
  display: flex;
}
.location_img {

}
.location_link {
  text-decoration: none;
  font: 100% $main-font;
  color: #708598;
  font-size: 12px;
  line-height: 20px;
  margin-left: 8px;
}
.menu__menu-link {
  text-decoration: none;
  font: 100% $main-font;
  color: #708598;
  font-size: 12px;
  line-height: 20px;
  margin-left: 24px;
}
.header-bottom-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.header-bottom-menu__navigation {
  display: flex;
}
.navigation_logo {

}
.navigation_button {
  font: 100% $main-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #050F19;
  border: none;
  background: #FED83D;
  border-radius: 4px;
  width: 116px;
  height: 40px;
  vertical-align: middle;
  margin: 0 24px;
}
.navigation_button::before {
  content: "☰";
  font-size: 18px;
  margin-right: 10px;
}
.navigation_input-container {

}
.navigation_input {
  font: 100% $main-font;
  font-size: 14px;
  line-height: 24px;
  width: 248px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #ECEFF1;
  border-radius: 4px;
  position: relative;
  padding: 0;
  padding-left: 16px;
}
.navigation_img {
  position: relative;
  top: 5px;
  right: 40px;
}
.header-bottom-menu__profile-container {
  display: flex;
  align-items: center;
}
.profile-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111px;
  height: 40px;
  background: #FAFBFC;
  border: 1px solid #ECEFF1;
  border-radius: 4px;
}
.profile-list_img {

}
.profile-list_img-ellipse {
  position: absolute;
  right: 232px;
  top: 58px;
}
.profile-list_link {
  font: 100% $main-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #050F19;
  text-decoration: none;
  margin-left: 12px;
}
.profile-img {
  width: 40px;
  height: 40px;
  background: #9B51E0;
  font: 100% $main-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
}
