@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$main-font: 'Open Sans', sans-serif;
$main-text-color: #000;

@import "header.scss";
@import "content.scss";
@import "footer.scss";

body {
  margin: 0;
}
